/* This is the main CSS file that we will add to. Linked to App.js */

@font-face {
  font-family: 'fonty';
  src: URL('font.ttf') format('truetype');
}

html {
  font-size: 62.5%;
  /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem;
  font-family: Helvetica;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/* Home Screen */
.products {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font:inherit;
  font-family: 'fonty';
}

.products li {
  max-width: 30rem;
  list-style-type: none;
  padding: 0;
  flex: 0 1 30rem;
  margin: 1rem;
  height: 47rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 2.2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.5rem;
  color: #808080;
  padding-top: 0;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
}

.product-image {
  margin-left: 3rem;
  max-width: 30rem;
  max-height: 34rem;
}

.product-rating {
  margin-bottom: 1rem;
  font-size: small;
}

.container {
  width: 30rem;
}

/* /* _Navbar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
