/* This is the main CSS file that we will add to. Linked to App.js */

/*************************
   Default CSS stylings
*************************/

@font-face {
  font-family: "fonty";
  src: URL("font.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "fonty";
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

ul,
li {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: #edca0d;
}

a:hover {
  color: #faf160;
}

.footer {
  background-color: #000000;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  height: 17%;
  width: 100%;
  font-size: large;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.products-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font: inherit;
  list-style-type: none;
  font-family: "fonty";
}

.products li {
  max-width: 30rem;
  list-style-type: none;
  padding: 0;
  flex: 0 1 30rem;
  margin: 1rem;
  height: 47rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 2.2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.5rem;
  color: #808080;
  padding-top: 0;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
}

.product-image {
  max-width: 30rem;
  max-height: 34rem;
  filter: grayscale(100%);
}

.product-image:hover {
  filter: grayscale(0%);
  transform: scale(0.9);
}

.product-rating {
  margin-bottom: 1rem;
  font-size: small;
}

input {
  margin: 0.5%;
  width: 33%;
}

button {
  border-radius: 0px;
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border: none;
  width: auto;
  height: auto;
  font-size: small;
  margin: 1%;
}

button:hover {
  border-radius: 0px;
  background-color: white;
  color: black;
}

/*************************
      1. Home Page
*************************/

.banner {
  margin: 0%;
  margin-top: 0px;
}

/*************************
     2. Products Page
*************************/

/*************************
     3. Product Page
*************************/

.product-container {
  display: grid;
  grid-template-columns: 5fr, 1fr;
  grid-template-rows: 1fr;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

/*************************
      4. Cart Page
*************************/

/*************************
      5. Login Page
*************************/

.login {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  border: black solid;
  padding: 2%;
  margin-bottom: 5%;
}

/*************************
      6. Signup Page
*************************/

/*************************
      7. Profile Page
*************************/

.heading {
  font-size: 30px;
  padding: 16px 0;
  color: #444;
  text-align: center;
}
/*Container*/

.search-label {
  position: relative;
}
.container input {
  width: 100%;
  padding: 16px;
  font-size: 36px;
  font-style: italic;
  color: #444;
  box-sizing: border-box;
  outline: none;
}
.search-icon {
  position: absolute;
  top: -10px;
  font-size: 24px;
  color: #555;
  right: 18px;
}
